/*main page*/
.dif-col {
	color: black !important;
}

/*login page*/
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*blackjack*/
.outline { 
	width: 110px; 
	height: 154px;
	text-align: center; 
	padding: 10px; 
	margin: 10px; 
	background: #FFF;
	float: left;
}

.cardback {
	padding: 2px;
}

.top { 
	height: 30px;
	text-align: left; 
}

.bottom { 
	text-align: right; 
}

.shadow { 
	box-shadow: 1px 1px 3px #000; 
	-moz-box-shadow: 1px 1px 3px #000; 
	-webkit-box-shadow: 1px 1px 3px #000; 
}

.rounded { 
	border-radius:10px; 
	-moz-border-radius:10px; 
	-webkit-border-radius:10px; 
}

.overlay {
	margin-left: -80px;
}

.deckoverlay {
	margin-left: -118px;
}

/*yahtzee*/
.die {
	font-size: 100px;
}

.main-container {
	color: rgb(192, 192, 192);
	background-color: #222; 
	border-radius: 10px; 
	padding: 50px; 
	margin-top: 100px;
}

/*whack-a-mole*/
.hole {
	width: 150px;
	height: 150px;
	border: solid 1px #000;
	float: left;
}

.board {
	margin: 100px auto;
	width: 450px;
	height: 450px;
}

.hole>img {
	width: 148px;
	height: 148px;
	display: none;
}

.whack-body {
	cursor: url("img/caveman3.png"), auto;
	background-image: url("img/secret-squirrel-background.jpg");
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size: 100%;
}

.whack-container{
	margin: 100px auto;
}